<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
</template>

<style scoped>
  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
     url(./assets/fonts/Roboto-Medium.ttf) format("truetype");
  }
</style>
