<script>
export default {
  props: {
    previous: Number,
    next: Number,
    max: Number,
    current: Number,
    window: Array,
    query: String
  },
  methods: {
    getPageUrl: function(page) {
      let url = new URL("/search/" + this.$route.params.index, document.location.origin);
      url.searchParams.append("q", this.query);
      url.searchParams.append("page", page);
      return url.toString();
    },
    isCurrent: function(page) {
      return (page == this.current);
    }
  }
}
</script>

<template>
  <div class="margin-control">
    <a class="neutral-text margin-outer-left" :href="getPageUrl(previous)">Previous</a>
    <a class="neutral-text margin-window" :class="{ 'window-underscore': isCurrent(l) }" v-for="(l, i) in window" :href="getPageUrl(l)">{{l}}</a>
    <a class="neutral-text margin-outer-right" :href="getPageUrl(next)">Next</a>
  </div>
</template>

<style scoped>
.margin-control {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 1.563rem;
  background-color: #242426;
  width: fit-content;
}

.margin-window {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.window-underscore {
  text-decoration: underline;
}

.margin-outer-left {
  margin-right: 1rem;
}

.margin-outer-right {
  margin-left: 1rem;
}
</style>
