<script>
export default {
  props: {
    title: String,
    href: String,
    formattedUrl: String,
    thumbnailUrl: String,
    faviconUrl: String,
    snippet: String,
    mime: String,
    labels: Array
  },
  methods: {
    encodeTagRef(tag) {
      let url = new URL("/search/" + this.$route.params.index, document.location.origin);
      url.searchParams.append("q", '#'+tag);
      return url.toString();
    },
    addFilePrefix(prefix, name) {
      return "["+prefix+"] " + name;
    }
  },
  computed: {
    trimmedUrl() {
      let maxLen = 100;
      if (this.url.length > maxLen) {
        return this.url.substring(0, maxLen-3) + "...";
      }
      return this.url;
    },
    trimmedTitle() {
      let maxLen = 50;
      if (this.title.length > maxLen) {
        return this.title.substring(0, maxLen);
      }
      return this.title;
    },
    displayTitle() {
      if (this.mime == "application/pdf") {
        return this.addFilePrefix("PDF", this.trimmedTitle);
      }
      return this.trimmedTitle;
    }
  }
}
</script>

<template>
  <div class="padding-container">
    <img class="thumbnail" v-if=thumbnailUrl :src=thumbnailUrl>
    <div>
      <a :href="href">
        <p class="url neutral-var-text">{{formattedUrl}}</p>
        <p class="name neutral-text">{{displayTitle}}</p>
      </a>
      <span class="neutral-var-text">{{snippet}}</span>
      <br/>
      <br/>
      <a class="tag neutral-var-text" v-for="(l, i) in labels" :href="encodeTagRef(l)"> #{{l}}</a>
    </div>
  </div>
</template>

<style scoped>
.url {
  font-size: 0.625rem;
}
.name {
  margin-top: 0rem!important;
  margin-bottom: 0.938rem!important;
  font-size: 1.563rem;
}
.tag {
  font-size: 0.75rem;
}
.padding-container {
  padding-right: 0prem!important;
  padding-top: 0.938rem!important;
  padding-bottom: 1.25rem!important;
  display: flex;
}
.thumbnail {
  border-radius: 1rem;
  float: left;
  margin-right: 1rem;
  align-self: center;
  max-height: 4.5rem;
  max-width: 4.5rem;
}
</style>
