<script>
export default {
  props: {
    count: Number
  }
}
</script>

<template>
  <p class="stats neutral-var-text">Found {{count}} results</p>
</template>

<style scoped>
.stats {
  font-size: 0.625rem;
}
</style>
