<script>
export default {
  props: {
    text: String
  },
  data() {
    return {
      checked: false
    }
  },
  methods: {
    onClick() {
      this.checked = !this.checked;
    }
  },
  computed: {
    background() {
      if (this.checked) {
        return {'background-color': '#142940'};
      }
      return {'background-color': '#102133'};
    }
  },
  watch:{
    checked() {
      if (this.checked) {
        this.$emit('checked', this.text);
      } else {
        this.$emit('unchecked', this.text);
      }     
    },
  }
}
</script>

<template>
  <div>
    <button
      type="button"
      @click="onClick"
      class="color-text-1"
      :style="background">
      {{text}}
    </button>
  </div>
</template>

<style scoped>
button {
  border: none;
  border-radius: 8px;
  height: 2.5rem;
  width: 12rem;
}

button:hover {
  background-color: #17304a !important;
}
</style>
