<script setup>

</script>

<script>
export default {
}
</script>

<template>
  <div class="container">
    <div class="content-middle">
      <slot/>
    </div>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.content-middle {
  flex-grow: 4;
  flex-basis: 60%;
  align-self: center;
  display: block;
  width: 60%;
}

</style>
