<script>
export default {
  data() {
    return {
      query: ""
    }
  },
  methods: {
    submit() {
      this.$emit('submit', this.query);
    }
  }
}
</script>

<template>
  <div class="sf-container-flex sf-edge color-input-field">
    <input type="text" placeholder="Search.." class="sf-edge sf-item-center color-input-field" v-model="query" v-on:keyup.enter="submit">
    <mdicon @click="submit" name="magnify" class="sf-item-right neutral-text"></mdicon>
  </div>
</template>

<style scoped>
.sf-container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}
.sf-edge {
  border-radius: 1.563rem; 
}
.sf-item-center {
  order: 1;
  flex-grow: 1;
  padding-left: 1.563rem;
}
input {
  border: 0rem;
}
textarea:focus, input:focus {
    outline: none;
}
.sf-item-right {
  order: 2;
  padding-right: 1rem;
  align-self: center;
}
</style>
