<script>
export default {
  props: {
    text: String,
    size: String 
  },
  computed: {
    cssVars() {
      return {
        'font-size': this.size,
      }      
    }
  }
}
</script>

<template>
  <b :style="cssVars" class="center neutral-text">{{text}}</b>
</template>

<style scoped>
.center{
  text-align: center;
}
</style>
