<script>
export default {
  props: {
    options: Array,
    default: String
  },
  data() {
    return {
      selection: ""
    }
  },
  methods: {
    setDefault: function() {
      if (this.selection == "" && this.default != "") {
        this.selection = this.default;
        this.$emit('select', this.selection);
      }
    }
  },
  watch: {
    default: function() {
      this.setDefault();
    }
  },
  created() {
      this.setDefault();

  }
}
</script>

<template>
  <div>
    <label class="neutral-text" for="index">Index:</label>
    <select id="index" class="container neutral-text" v-model="selection" @change="$emit('select', this.selection)">
      <option class="item" :value="opt" v-for="(opt, i) in options">{{opt}}</option>
    </select>
  </div>
</template>

<style scoped>
.container {
  margin-right: 1rem;
  border-color: transparent;
  background-color: transparent;
}
.item {
  color: black;
  background-color: transparent;
}
</style>
