<script setup>

</script>

<script>
export default {
  data() {
    return {
      isOpen: false
    }
  },
  methods: {
    openNav() {
      this.isOpen = true;
    },
    closeNav() {
      this.isOpen = false;
    }
  },
  computed: {
    width() {
      if (this.isOpen) {
        return {'width': '15.625rem'};
      }
      return {'width': '3.75rem'};
    }
  }
}
</script>

<template>
  <div class="sidenav container neutral t15" :style="width">
      <mdicon v-if="!isOpen" @click="openNav" name="menu" class="neutral-text"></mdicon>    
      <mdicon v-if="isOpen" @click="closeNav" name="close" class="neutral-text closebtn"></mdicon>
      <slot v-if="isOpen"/>    
  </div>
</template>

<style scoped>
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-top: 0.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* Position and style the close button (top right corner) */
.closebtn {
  align-self: flex-end;
  padding-right: 0.5rem;
}
</style>
