<script setup>

</script>

<script>
export default {
  props: {
    fixed: Boolean
  }
}
</script>

<template>
  <div class="size container neutral t10" :class="fixed ? 'fixed' : ''">
    <slot />
  </div>
</template>

<style scoped>
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.size {
  width: 100%;
  height: 3.125rem;
}
.fixed {
  position:fixed;
  top: 0;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
}
</style>
