<template>
  <div>
    <a class="nav-left neutral-text" href="/">
      <mdicon name="chevronLeft" ></mdicon>
      Back
    </a>
    <div class="about neutral-var-text flex-center">
      <h1 class="neutral-text">About Heru</h1>
      <h2 class="neutral-text">A Open Source Search Engine</h2>
      <span>
        Ever dreamt of tailoring your search engine to match your interests perfectly? Heru invites you to play, experiment, and transform the search landscape.
      </span>
      <h2 class="neutral-text">Explore Beyond Boundaries</h2>
      <span>
        Say goodbye to the confines of traditional search engines. Heru empowers you to dive into the world of search with endless possibilities. Uncover hidden gems, traverse diverse sources, and embark on a journey of information discovery that's uniquely yours.
      </span>
      <h2 class="neutral-text">Small Yet Mighty</h2>
      <span>
        Heru is a testament to the fact that great things come in small packages. Its modular architecture is a marvel, allowing you to effortlessly enhance, swap, or refine components according to your needs. No more one-size-fits-all – with Heru, your search engine adapts to you, not the other way around.
      </span>
      <p>
        <a class="neutral-text" href="https://gitlab.com/ApeWithCompiler/heru">
          Gitlab
          <mdicon name="link" ></mdicon>
        </a> 
      </p>
    </div>
  </div>
</template>

<style>
.about {
  text-align: center;
}

h2 {
  padding-top: 2rem;
}

span {
  display: inline-block;
  max-width: 30rem;
}

.nav-left {
  display: block;
  margin-left: 2rem;
  margin-top: 1rem;
}

.flex-center {
  flex-direction: row;
  align-items: center;
}
</style>
