<script setup>
  import Logo from '../components/TextLogo.vue'
  import SearchForm from '../components/SearchForm.vue'
  import TextSelectBox from '../components/TextSelectBox.vue'
</script>

<script>
import axios from 'axios'
export default {
  data() {
    return {
    }
  },
  methods: {
    onSubmit: function(query) {
      this.$router.push({ name: "search", query: {q: encodeURIComponent(query)}, params: {index: this.currentIndexName}});
    }
  },
  computed: {
    currentIndexName() {
      return this.$route.params.index;
    }
  }
}
</script>

<template>
  <div class="container">
    <Logo size="5rem" :text="currentIndexName.toUpperCase()"></Logo>
    <div class="searchbar">
      <SearchForm @submit="onSubmit">    
      </SearchForm>
    </div>
    <div style="display:flex;">
      <a class="neutral-text" href="/about">About</a>
    </div>    
  </div>
</template>

<style scoped>
.container {
  display: flex;
  padding-top: 25%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.searchbar {
  width: 70%;
  height: 3rem;
}

</style>
