<script setup>
  import Logo from '../components/TextLogo.vue'
  
  import NavigationBar from '../components/navigation/NavigationBar.vue'
  import NavigationDrawer from '../components/navigation/NavigationDrawer.vue'

  import SearchForm from '../components/SearchForm.vue'

  import ProviderCheckbox from '../components/ProviderCheckbox.vue'
  import SearchContentContainer from '../components/SearchContentContainer.vue'

  import ResultStatistics from '../components/result/ResultStatistics.vue'
  import ResultCollection from '../components/result/ResultCollection.vue'
  import ResultItem from '../components/result/ResultItem.vue'
  import Pagination from '../components/result/Pagination.vue'
</script>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      apiIndexes: {},
      queryText: "",
      queryPage: 1,
      resultResponse: {}
    }
  },
  methods: {
    fetchResults: function () {  
      axios
        .get(this.apiQueryUrl)
        .then(response => (this.resultResponse = response.data));
    },
    fetchIndexes: function () {    
      axios
        .get(this.apiIndexesUrl)
        .then(response => (this.apiIndexes = response.data));
    },
    onSubmit: function(query) {
      this.queryText = query;
      this.queryPage = 1;
      this.urlSetParameters();
    },
    urlSetParameters: function() {
      if (this.queryPage > 1) {
        this.$router.push(
          {
            name: "search",
            query: {
              q: this.queryTextEscaped,
              page: this.queryPage
            }
          }
          );
      } else {
        this.$router.push(
          {
            name: "search",
            query: {
              q: this.queryTextEscaped
            }
          }
          );        
      }
    },
    urlGetParameters: function() {
      if (this.$route.query.q) {
        this.queryText = decodeURIComponent(this.$route.query.q);
      }
      if (this.$route.query.page) {
        this.queryPage = this.$route.query.page;
      }
    }
  },
  watch:{
    apiQueryUrl() {
      this.fetchResults();      
      window.scrollTo(0,0);
    },
    // When navigated via browser the url change
    // needs to trigger the app state change.
    $route(){
      this.urlGetParameters();
    }
  },
  computed: {
    currentIndexName() {
      return this.$route.params.index;
    },
    currentHomeViewUrl() {
      return "/home/" + this.currentIndexName;
    },
    queryTextEscaped() {
      return encodeURIComponent(this.queryText);
    },
    apiQueryUrl() {
      let url = new URL(document.location.origin + "/api/indexes/" + this.currentIndexName + "/search");

      url.searchParams.append("q", this.queryText);
      if (this.queryPage > 1) {
        url.searchParams.append("page", this.queryPage);
      }

      return url.href;
    },
    apiIndexesUrl() {
      let url = new URL(document.location.origin + "/api/indexes");
      return url.href;
    },
    apiIndexesList() {
      if (this.apiProviders.data) {
        return this.apiProviders.data;
      }
        return [];   
    },
    resultDocuments() {
      if (this.resultResponse.data) {
        //const doc_ids = this.resultResponse.data.map(x => x.id);
        return this.resultResponse.data;
      }
        return [];     
    },
    pagination() {
      if (this.resultResponse.meta) {
        if (this.resultResponse.meta.pagination) {
          return this.resultResponse.meta.pagination;
        }
      }

      return {
        window: [1],
        previous: 1,
        next: 1,
        current: 1,
        max: 1
      }
    },
    resultCount() {
      if (this.resultResponse.meta) {
        if (this.resultResponse.meta.maxCount) {
          return this.resultResponse.meta.maxCount;
        }
      }

      if (this.resultResponse.data) {
        return this.resultResponse.data.length;
      } else {
        return 0;
      }
    }
  },
  mounted() {
    this.urlGetParameters();
    this.fetchIndexes();
    this.$refs.input.query = this.queryText;
  }
}
</script>

<template>
  <NavigationBar
    :fixed="true">
    <a class="nav-left" :href="currentHomeViewUrl">
      <Logo size="1.25rem" :text="currentIndexName.toUpperCase()"></Logo>
    </a>
    <div class="nav-center">
      <SearchForm ref="input" @submit="onSubmit"></SearchForm>
    </div>
  </NavigationBar>
  <!--
  <NavigationDrawer class="sidebar-position">
    <h2 class="neutral-text">Provider</h2>
    <div class="provider-selector-padding" v-for="(prov, index) in apiProvidersList">
      <ProviderCheckbox
        :text=prov.id
        @checked="onCheckProvider"
        @unchecked="onUncheckProvider">
      </ProviderCheckbox>
    </div>
  </NavigationDrawer>
  -->
    <SearchContentContainer class="content-margin">
      <ResultStatistics
        :count="resultCount">
      </ResultStatistics>
      <ResultCollection>
        <ResultItem
          v-for="(doc, index) in resultDocuments"
          :title="doc.attributes.title"
          :href="doc.attributes.link"
          :formattedUrl="doc.attributes.formattedUrl"
          :thumbnailUrl="doc.attributes.thumbnailUrl"
          :faviconUrl="doc.attributes.faviconUrl"
          :snippet="doc.attributes.snippet"
          :mime="doc.attributes.mime"
          :labels="doc.attributes.labels">
        </ResultItem>
      </ResultCollection> 
      <Pagination
        :previous="pagination.previous"
        :next="pagination.next"
        :current="pagination.current"
        :max="pagination.max"
        :window="pagination.window"
        :query="queryText">
      </Pagination>
    </SearchContentContainer>
</template>

<style scoped>
.provider-padding {
  padding-left: 1rem;
}

.provider-selector-padding {
  padding-bottom: 0.25rem;
}

.nav-center {
  margin: auto;
  height: 90%;
  width: 70%;
}
.nav-left {
  margin-left: 2rem;
  float: left;
}

.sidebar-position {
  top: 3.125rem;
}

.content-margin {
  margin-top: 5rem;
}

</style>
