body {
    background-color: #19191a;
}

.color-input-field {
    background-color: #242426;
    color: #e0e1dd;
}

.color-input-field:focus-within {
    background-color: #313233;
    color: #e0e1dd;
}

.color-input-field:focus {
    background-color: #313233;
    color: #e0e1dd;
}

/* Neutrals */

.neutral-var-text {
    color: #8B8C89;
}

.neutral {
    background-color: #E7ECEF;
}

.neutral-text {
    color: #E7ECEF;
}

.neutral.t10 {
    background-color: #19191a;
}

.neutral.t15 {
    background-color: #242426;
}

.neutral.t20 {
    background-color: #313233;
}

/* Accents */

.primary {
    background-color: #274C77;
}

.primary-text {
    color: #274C77;
}

.secondary {
    background-color: #6096BA;
}

.secondary-text {
    color: #6096BA;
}

.tertiary {
    background-color: #A3CEF1;
}

.tertiary-text {
    color: #A3CEF1;
}